.nav-link:link {
  color: white !important;
}

.nav-link:hover,
.nav-link:active {
  color: lightblue !important;
}

.bg-purple {
  background-color: darkblue;
}

.background {
  background-image: url('./images/background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: darkblue;
  color: navy;
  min-height: 100vh;
  background-attachment: fixed;
}

.background-opacity {
  background: rgba(255, 255, 255, 0.4);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;
}

.single-card {
  padding: 10px;
  margin: 10px auto;
  border-radius: 10px;
}

.card-image {
  width: 100px;
}

.btn-card {
  background-color: blue !important;
}

.btn-card:hover {
  background-color: darkblue !important;
}

.btn-submit {
  background-color: blue !important;
  width: 100%;
}
.btn-submit:hover {
  background-color: darkblue !important;
}

.input {
  border: none;
  width: 100%;
  border-bottom: 1px solid darkblue;
}

.input:focus {
  outline: none;
}

.div-input {
  padding: 10px;
}

.form-checkbox {
  padding: 10px !important;
  cursor: pointer;
}

.text-size {
  font-size: 18px;
}

.icon-style {
  font-size: 24px;
  width: 36px;
  color: white;
  text-align: center;
}

.twitter-box {
  cursor: pointer;
  border: 1px solid #00ACEE;
  background-color: white;
}

.twitter-icon {
  background-color: #00ACEE;
}

.twitter-text {
  color: #00ACEE;
}

.github-box {
  cursor: pointer;
  border: 1px solid #24292e;
  background-color: white;
}

.github-icon {
  background-color: #24292e;
}

.github-text {
  color: #24292e;
}

.new-user-toggler {
  color: blue;
  cursor: pointer;
}

.new-user-toggler:hover {
  color: darkblue;
}

.to-uppercase {
  text-transform: uppercase;
}

.ticket-price {
  background-color: lightgray;
  border-radius: 15px;
}

.choosed-destination {
  background-color: blue;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 500;
}

.choose-ticket {
  background-color: white;
  color: blue;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 500;
}

.ticket-image {
  width: 50px;
  display: inline;
}

#map {
  padding: 20px;
}