.nav-link:link {
  color: white !important;
}

.nav-link:hover,
.nav-link:active {
  color: lightblue !important;
}

.bg-purple {
  background-color: darkblue;
}

.background {
  background-image: url('./images/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: darkblue;
  color: navy;
  background-attachment: fixed;
  height: calc(100vh - 56px);
  height: -moz-calc(100vh - 56px);
  height: -webkit-calc(100vh - 56px);
}

.background-opacity {
  background: rgba(255, 255, 255, 0.4);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  height: calc(100vh - 56px);
  height: -moz-calc(100vh - 56px);
  height: -webkit-calc(100vh - 56px);
}